# Dataset - too large for git
exercise2/data/*
!exercise2/data/README.txt

# Generated outputs
exercise2/output/*
!exercise2/output/top10_songs.tsv

exercise3/output/*
!exercise3/output/forecast.tsv

# Python
__pycache__/
*.pyc

# Spark local files
derby.log
metastore_db/